:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --background-color: #C9F0C3;
    --primary-color: #00902A;
    --border-color: #3a3a3a;
    --header-height: 120px;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: var(--background-color);
}
a{
    text-decoration: none;

}
ul{
    list-style:none;
}
.fake{
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.btn{
    width: 40px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 4px;
    text-align: center;
    font-size: 2.2rem;
}
.btn:hover{
    background-color: #1ae256;
    cursor: pointer;
}
.btn-none{
    background-color: #fff !important;
    cursor: default !important;
}
.btn-active{
    background-color: var(--primary-color) !important;
}
.btn-reject{
    background-color: #ff5050 !important;
}
.btn-note{
    cursor: default;
    width: 40px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 4px;
}
fieldset {
    border: 1px solid #333;
    border-radius: 4px;
}
